body {
    margin: 0;
    font-family: Tahoma;
}

.secao {
    text-align: center;
    padding-top: 23px;
    padding-bottom: 30px;
}

.paragrafo {
    font-size: 22px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    width: 980px;
}

.topo {
    background-color: #fcffde;
}

.topo img {
    width: 200px;
}

.imagem-topo{
    border-radius: 10px;
}  

.paragrafo-topo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.link-topo {
    color: #022601;
    font-size: 26px;
    text-decoration: none;
    margin: 0 15px;
    text-transform: uppercase;
   
}

.banner {
    padding-top: 0;
    margin-top: 50px;
}

span {
    font-weight: bold;
}

h1 {
    color: #022601;
    margin-bottom: 5px;
}

h2 {
    font-weight: normal;
    color: #022601;
    margin-top: 0;
}

.imagem {
    width: 600px;
    border-radius: 10px;
}

.texto-azul {
    color: #022601;
}

.servicos, .contato {
    background-color: #022601;
}

h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.paragrafo-servicos {
    color:#ffffff;
    line-height: 32px;
    width: 700px;
    font-size: 22px;
    text-align: justify;
    margin: 10px auto;
    width: 980px;
}

.texto-amarelo {
    color: #fff81b;
}

.lista-servicos {
    width: 135px;
    margin: 40px auto 40px;
    
}

.item-lista-servicos {
    font-size: 22px;
    line-height: 42px;
    text-align: left;
    color: #fff;
}

.paragrafo-contato {
    color: #fff;
    background-color: #1d1d1d;
    padding: 15px;
    margin: 30px auto;
    text-align: center;
    width: 980px;
}

.link{
    text-transform: uppercase;
    color: #022601;
    text-decoration: none;
    font-weight: bold;    
}

.lista-contato {
   width: 210px;
   list-style: none;
   margin: 40px auto 40px;
}

.item-lista-contato {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

.link-contato {
    background-color: #ffffff;
    color: #022601;
    padding: 6px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.iframe {
    border-radius: 10px;
}
